body{
    font: 28px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #13e246;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}
header{
    background: #35424a
    color: #ffffff
    padding-top: 80px
    min-width: height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color:#ffffff
    text-emphasis: none;
    text-emphasis: transfor; uppercase;
    font-size: 16px;
}

header ul {
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}